/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #fff;
  margin: 0;
  padding: 20px;

}

.gradient-border {
  border-width: 1px;
  border-style: ridge;
  border-image: linear-gradient(to bottom, black, #666666) 1;
  border-radius: 100%;
  border: 100%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  width: 100%;
  justify-items: center;
  align-items: center;

}

.grid-item {
  /* background-color: #2a2a3b; */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.item-1 {
  grid-column: span 2;
  grid-row: span 1;
}

.item-2 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-3 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-4 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-5 {
  grid-column: span 2;
  grid-row: span 2;
}

.item-6 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-7 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-8 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-9 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-10 {
  grid-column: span 1;
  grid-row: span 1;
}

.item-11 {
  grid-column: span 1;
  grid-row: span 1;
}
